body {
    background-color: #570e2b;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
    

  }
  
  h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  
  h1 {
    text-align: center;
    font-size: 70px;
    margin-top: 1px;
    text-shadow: 0 0 10px #ff9100, 0 0 20px #ff6600, 0 0 30px #ff9900da, 0 0 40px #ff7300ee, 0 0 50px #ff9100, 0 0 60px #ff7b00fb, 0 0 70px #ff7300;

  }
  
  h2 {
    color: #eb1818;
    font-size: 20px;
    margin-top: 20px;
    
    
  }
  

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    
  }

  ul li {
    display: inline-block;
    margin-right: 50px;
  }

  

  a {
    color: #f6f5f8fd;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    color: #095f99;
  }
  
  footer {
    background-color: #160101ec;
    padding: 15px;
    text-align: center;
    color: #c0b0b0e0;
    font-size: 15px;
    
  }
  
  img[src='https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/4xJ8XB3bi888QTLZYdl7Oi0s.png'] {
    width: 280px;
margin-top: 10px; 
display: block;
margin-left: auto;
margin-right: auto;
    
  }

  img[src='https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/global/games/fob/1280/V.jpg'] {
    width: 260px;
margin-top: 50px;
height: 260px; 
display: block;


}
  
  img[src= 'https://image.api.playstation.com/cdn/UP0700/CUSA09072_00/2eBPISxxvTv5foYSDlqiBJfmRj5LZxv3.png']  {
    width: 280px;
margin-top: 10px; 
display: block; 

}

img[src= 'https://media.tycsports.com/files/2021/05/20/284433/nba-2k21-epic-games_1440x810_wmk.jpg']  {
  width: 350px;
margin-top: 10px; 
display: block; 

}

img[src= 'https://as01.epimg.net/meristation/imagenes/2018/09/22/noticias/1537615771_913921_1537615941_portada_normal.jpg']  {
  width: 350px;
margin-top: 10px; 
display: block; 

}

img[src= 'https://cdn1.epicgames.com/ark/offer/EGS_ARKSurvivalEvolved_StudioWildcard_S1-2560x1440-c316afb7c33a9dfb892eef6b99169e43.jpg']  {
  width: 400px;
margin-top: 10px; 
display: block; 

}





img[src= 'https://www.residentevil.com/village/assets/images/common/share.png']  {
  width: 400px;
margin-top: 10px; 
display: block; 

}

img[src= 'https://cdn.akamai.steamstatic.com/steam/apps/553420/capsule_616x353.jpg?t=1649107473']  {
  width: 400px;
margin-top: 10px; 
display: block; 

}



img[src= 'https://cdn.cloudflare.steamstatic.com/steam/apps/417430/capsule_616x353.jpg?t=1581349208']  {
  width: 400px;
margin-top: 10px; 
display: block; 

}


img[src= 'https://cdn.akamai.steamstatic.com/steam/apps/976310/header.jpg?t=1654216426']  {
  width: 450px;
margin-top: 10px; 
display: block; 

}


img[src= 'https://image.api.playstation.com/vulcan/ap/rnd/202205/2800/iQGgKYUg9YwjPVNM0kE8jeRN.jpg']  {
  width: 350px;
margin-top: 10px; 
display: block; 

}

img[src= 'https://cdn.akamai.steamstatic.com/steam/apps/990080/capsule_616x353.jpg?t=1680647016']  {
  width: 350px;
margin-top: 10px; 
display: block; 

}




img[src= 'https://resizer.glanacion.com/resizer/O4XXSJXscxvFkv9NUFgS0BMrr2M=/1200x800/filters:format(webp):quality(80):focal(464x382:474x372)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/SHJEL4EFBRDNBIPLDN4TN2RRWY.webp']  {
  width: 350px;
margin-top: 10px; 
display: block; 

}

img[src= 'https://cdn.akamai.steamstatic.com/steam/apps/1551360/capsule_616x353.jpg?t=1680128611']  {
  width: 350px;
margin-top: 10px; 
display: block; 

}


img[src= 'https://culturageek.com.ar/wp-content/uploads/2019/02/Culturageek.com_.ar-Devil-May-Cry-5-Preview-1.png']  {
  width: 400px;
margin-top: 10px; 
display: block; 

}

img[src= 'https://image.api.playstation.com/vulcan/ap/rnd/202012/0815/7CRynuLSAb0vysSC4TmZy5e4.png']  {
  width: 220px;
margin-top: 10px; 
display: block; 

}



img[src= 'https://img.hype.games/cdn/4fafabc9-6899-4efc-8018-412ef4332ed5COVER---[Ubisoft]-FAR-CRY-4-600.jpg']  {
  width: 350px;
margin-top: 10px; 
display: block; 

}

img[src= 'https://www.lavanguardia.com/files/article_main_microformat/uploads/2022/09/28/633374d106b46.jpeg']  {
  width: 400px;
margin-top: 10px; 
display: block; 

}


img[src= 'https://cdn.akamai.steamstatic.com/steam/apps/730/capsule_616x353.jpg?t=1641233427']  {
    width: 500px;
margin-top: 10px; 
display: block; }



img[src= 'https://www.lavanguardia.com/files/og_thumbnail/uploads/2021/09/02/6130d99519f60.png']  {
    width: 400px;
margin-top: 10px; 
display: block; }


img[src= 'https://cloudfront-us-east-1.images.arcpublishing.com/infobae/3VTVLVSK35DANLMZ4EWEOGUE4U.jpg']  {
  width: 400px;
margin-top: 10px; 
display: block; }



img[src= 'https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2022/11/8/woz7urmjqlvaat1roixn/kratos-god-of-war-ragnarok']  {
  width: 400px;
margin-top: 10px; 
display: block; }


img[src= 'https://prod.assets.earlygamecdn.com/images/God-of-War-Kratos-Thor.webp?mtime=1665990997']  {
  width: 400px;
margin-top: 10px; 
display: block; }

img[src= 'https://static1-es.millenium.gg/articles/9/49/42/9/@/269890-edsa-article_cover_bd-1.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2017/10/dragon-ball-fighterz-ginyu-nappa_9.jpg?itok=oQeQt6WH']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2018/01/23/e8f9920a-2e4f-4920-82e7-c02f3a77fdd6/dragon-ball-fighterz-goku-super-saiyan']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://areajugones.sport.es/wp-content/uploads/2017/10/Dragon-Ball-FighterZ-3.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://cloudfront-us-east-1.images.arcpublishing.com/infobae/QDZPB2NY5ZGCDFOSK756ZGGDRE.jpg']  {
  width: 400px;
margin-top: 10px; 
display: block; }

img[src= 'https://cdn.akamai.steamstatic.com/steam/apps/730/ss_118cb022b9a43f70d2e5a2df7427f29088b6b191.1920x1080.jpg?t=1668125812']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://cduser.com/content/images/size/w600/2020/03/counter-strike-global-offensive-online-actualizable-full-pc--D_NQ_NP_870892-MLU28221738011_092018-F--1-.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://staticsmartlife.mondo.rs/Picture/62354/jpeg/CS-GO-02?ts=2021-04-07T12:51:07']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://uploads.golmedia.net/uploads/articles/article_media/21118593411639567970gol1.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://image.winudf.com/v2/image/Z29vZC5mdW5nYW1lcy5yb2Jsb3hfc2NyZWVuXzBfMTUxMjkwOTcxM18wMjk/screen-0.webp?fakeurl=1&type=.webp']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.gamingscan.com/wp-content/uploads/2021/08/Best-Roblox-Games.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://phantom-marca.unidadeditorial.es/121041f0bec738ec31318bf182022425/resize/1320/f/jpg/assets/multimedia/imagenes/2023/02/03/16754386121274.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://assets.xboxservices.com/assets/11/21/11214bbe-412c-45b0-b0fb-1d93bd38ec42.jpg?n=FIFA-23_Gallery-0_1350x759_04.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltcc619f9a812d71e7/62e00ceb38254f3cb093e3cb/Kylian_Mbapp%C3%A9_FIFA_23_(1).jpg?auto=webp&format=jpg&quality=80']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://sm.ign.com/ign_es/screenshot/default/fifa-23-20220926193018_4286.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.record.com.mx/sites/default/files/articulos/2022/09/12/lm_2-15.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://as01.epimg.net/meristation/imagenes/2020/05/14/noticias/1589454136_132592_1590065418_noticia_normal.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://static1-es.millenium.gg/articles/8/46/10/8/@/244432-sans-titre-orig-1-amp_main_media_schema-1.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://cdn.mos.cms.futurecdn.net/xKDjdfeeVakza67tMJCDYN.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.pcgamesn.com/wp-content/sites/pcgamesn/2021/01/GTA-5-cheats-vehicles.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/mw2/home/reveal/new-era/new_era-mw2.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/mw2/sony/mw2-sony-hero-desktop.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://images.squarespace-cdn.com/content/v1/55ef0e29e4b099e22cdc9eea/b9fa1c40-9bd6-4bdf-83bb-3dceed20c528/MW2+Pic+6.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.esports.net/wp-content/uploads/2022/05/MW2Multiplayer.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://staticctf.ubisoft.com/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7FltWcaGShIUE4PJ5Xh5p8/774217eb0faf49753c384356d3e08752/media6.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://content1.rozetka.com.ua/goods/images/big/161564477.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://sm.ign.com/ign_es/screenshot/default/fc4-screen-coop-elephant-outpost-preview-141014-6p_kkuk.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://static.eldiario.es/clip/955ba40e-4954-420c-b1fa-0167dcb822f6_16-9-aspect-ratio_default_0.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://i.blogs.es/1b2671/_3243313_1200x675/1366_2000.jpeg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://as01.epimg.net/meristation/imagenes/2021/05/20/noticias/1621524362_265015_1621524495_sumario_normal.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://cdn2.unrealengine.com/dame-1920x1080-1920x1080-6005df88fd7e.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://estaticos-cdn.prensaiberica.es/clip/8386617e-e856-4f13-9942-3f2000654593_16-9-discover-aspect-ratio_default_0.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://live.mrf.io/statics/i/ps/www.muycomputer.com/wp-content/uploads/2020/01/The-Last-of-Us-Part-II-2.jpg?width=1200&enable=upscale']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://sm.ign.com/ign_latam/news/h/heres-xbox/heres-xboxs-analysis-of-the-last-of-us-part-2_vsjg.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://www.trustedreviews.com/wp-content/uploads/sites/54/2020/05/TLOUPII_Preview_Screenshot_07-1024x576.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://as01.epimg.net/meristation/imagenes/2020/02/11/noticias/1581432949_422006_1581433019_noticia_normal.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://i.ytimg.com/vi/d2mBOeNur5s/maxresdefault.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2018/08/09/ac839fbd-bc74-4563-b041-1f747144a3cc/shadow-tomb-raider']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.pcmrace.com/wp-content/uploads/2018/04/shadow-of-the-tomb-raider-screens-6.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://images2.alphacoders.com/945/945393.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://elcomercio.pe/resizer/ApzN0gnhunteSlPruSoN1lX-lHg=/580x330/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/JY4U6LC2E5ESXCOHDG5KYSBQ4I.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://media.vandal.net/master/68652/mortal-kombat-11-201812793437_5.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://assets.altarofgaming.com/wp-content/uploads/2020/03/character-selection-screen-mortal-kombat-11.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.videogameschronicle.com/files/2019/04/mortal-kombat-11-4k_1.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://i.blogs.es/5c462f/forzahorizon5-01-16x9_wm_buggybeach/1366_2000.jpeg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://assetsio.reedpopcdn.com/forza-horizon-5-hills.png?width=1920&height=1920&fit=bounds&quality=80&format=jpg&auto=webp']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://http2.mlstatic.com/D_NQ_NP_853163-MLA48962823102_012022-O.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://as01.epimg.net/meristation/imagenes/2019/03/07/noticias/1551937277_954318_1551937427_noticia_normal.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.muycomputer.com/wp-content/uploads/2019/01/requisitos-Devil-May-Cry-5.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://i.ytimg.com/vi/HBUT7RJdxVc/maxresdefault.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://cdn.wccftech.com/wp-content/uploads/2018/08/Devil-May-Cry-5-Nero-controls.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2021/05/06/16202978213326.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://cdn.vox-cdn.com/thumbor/dSMD4Zsjs6PX5uBzI4ua9cmkuDw=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22479447/Resident_Evil_Village_walkthrough_5_cover.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://i.ytimg.com/vi/skE2paeilVI/maxresdefault.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://fotografias-neox.atresmedia.com/clipping/cmsimages02/2020/06/15/6D19B3D3-B718-46ED-B227-5968C24723F0/98.jpg?crop=1920,1080,x0,y0&width=1900&height=1069&optimize=high&format=webply']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://www.ggrecon.com/media/k3fdrgpb/hogwarts-legacy-harry-potter-eyebrows.jpg?mode=crop&width=682&quality=80&format=webp']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://cdn.akamai.steamstatic.com/steam/apps/990080/ss_94058497bf0f8fabdde17ee8d59bece609a60663.1920x1080.jpg?t=1680647016']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://cloudfront-us-east-1.images.arcpublishing.com/infobae/7YNMWJ4YONHJ5IMH7DR6JSMIAA.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://cloudfront-us-east-1.images.arcpublishing.com/infobae/FXWQHCJ755DKXKZA6MLNQ7H52M.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://cdn.cloudflare.steamstatic.com/steam/apps/1426210/ss_a15164ddd357ab3c0b2aff575a6b215b2d91b406.1920x1080.jpg?t=1679951279']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://media.contentapi.ea.com/content/dam/eacom/it-takes-two/images/2020/11/it-takes-two-blog-image-2.jpg.adapt.crop16x9.652w.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://www.mundodeportivo.com/alfabeta/hero/2021/03/It-Takes-Two-Impresiones-00-02032021.jpg?width=1200']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://techraptor.net/sites/default/files/styles/image_header/public/2021-04/It%20Takes%20Two%20sales%201%20million%20cover.jpg?itok=e9ll0cT6']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://i.blogs.es/juegos/13163/moto_racer_4/fotos/noticias/moto_racer_4-3378708.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://i.ytimg.com/vi/cNsWYvNrPq0/maxresdefault.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.teamvvv.com/wp-content/uploads/2016/09/mr4.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://www.thexboxhub.com/wp-content/uploads/2016/11/moto-racer-4-1.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://www.pockettactics.com/wp-content/sites/pockettactics/2022/09/tunic-review-5.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }


img[src= 'https://3dnews.ru/assets/external/illustrations/2022/03/23/1062564/Tunic_review_1.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://images.gog-statics.com/2b1e49e87acabd0b0d848672de437718d65ad1c1355612100be0e7eae677bc69_product_card_v2_mobile_slider_639.jpg']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://progameguides.com/wp-content/uploads/2022/03/Featured-TUNIC-Is-there-a-story-in-TUNIC.jpg?fit=1200%2C675']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://play-lh.googleusercontent.com/kFVy4JgyAv8pj6DHR4GesHeWXFOKA3XfZpFi3GHemte3L6ciHYZi4UezLxXvEe2q-0U=w526-h296-rw']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://www.mundodeportivo.com/alfabeta/hero/2021/02/Captura-ARK-Survival-Evolved.jpg?width=768&aspect_ratio=16:9&format=nowebp']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://play-lh.googleusercontent.com/-KGTn-juiShPBfGsz9mZOc29J2W5j8AARJGavMj2wzVDjW-BVUVaWfh5js5FPnH0ENHn=w526-h296-rw']  {
  width: 500px;
margin-top: 10px; 
display: block; }

img[src= 'https://s.yimg.com/ny/api/res/1.2/d1HgIdEPHOld4a4oDXa7VA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQyNw--/https://media.zenfs.com/es/levelup_525/2869a59b205c7a4122810e9428de3bcf']  {
  width: 500px;
margin-top: 10px; 
display: block; }



/* novedades */

img[src= 'https://image.api.playstation.com/vulcan/ap/rnd/202110/2000/phvVT0qZfcRms5qDAk0SI3CM.png']  {
  width: 300px;
margin-top: 10px;
margin-left: auto;
margin-right: auto; 
display: block; }

img[src= 'https://image.api.playstation.com/vulcan/ap/rnd/202107/3100/1dy5w3SNiJnXjP8YvmydCL9X.png']  {
  width: 300px;
margin-top: 10px;
margin-left: auto;
margin-right: auto; 
display: block; }


img[src= 'https://www.gamerfocus.co/wp-content/uploads/2023/02/Mortal-Kombat-12-saldra-a-la-venta-este-ano-ahora-la-pregunta-es-cuando.png']  {
  width: 400px;
margin-top: 10px;
margin-left: auto;
margin-right: auto; 
display: block; }

img[src= 'https://cdn.akamai.steamstatic.com/steam/apps/1716740/capsule_616x353.jpg?t=1681234040']  {
  width: 450px;
margin-top: 10px;
margin-left: auto;
margin-right: auto; 
display: block; }





































































